.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gold;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.cardList:hover .overlay {
  height: 15%;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Impact;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.symbol-cardList {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 75px;
  height: 75px;
}

.cardList {
  position: relative;
  border-style: solid;
  border-color: silver;
  box-sizing: border-box;
  width: 325px;
  height:325px;
}

.fighterNumber {
  margin: 0 auto;
  padding: 0 auto;
  z-index: 1;
  float: left;
  font-size: 1.5em;
  font-family: Impact;
}

.fighterImage {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(.89);
}
.fighterSymbol {
  transform: scale(1.29);
  position: absolute;
  width: 256px;
  height: 256px;
  opacity: .5;
  margin-left: 25px;
  margin-top: 29px;
}

.filter-fighter-symbol {
  padding-top: 50px;
  margin-top: -125px;
  margin-left: -100px;
  transform: scale(.2);
  width: 256px;
  height: 256px;
  opacity: .5;
  z-index: 1;
  fill-opacity: 1;
  filter: invert(100%);
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

.content {
  padding: 16px;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.sticky + .content {
  padding-top: 60px;
}
